# fly.toml app configuration file generated for mssnoaustech on 2024-05-04T09:07:14+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "mssnoaustech"
primary_region = "jnb"
console_command = "flask shell"


[build]
  builder = "paketobuildpacks/builder:base"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
