<!DOCTYPE html>
<html lang="en">
    <head>
        {# {{ ckeditor.load() }} #}
        {% include "head.html" %}
        <title>
            {% block title %}
            {% endblock title %}
            - MSSN OAUSTECH
        </title>
        {% block style %}
        {% endblock style %}
        {% block meta %}
        {% endblock meta %}
    </head>
    <body>
        {% include "navbar.html" %}
        {% with msg = get_flashed_messages(with_categories=True) %}
            {% if msg %}
                {% for category,message in msg %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show text-center"
                         role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock content %}
        {% include "footer.html" %}
        {% block subscription %}
        {% endblock subscription %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        {# {{ ckeditor.config() }} #}
    </body>
</html>
