<footer class="text-center text-lg-start text-white">
    <div class="container p-4 pb-0">
        <section>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">MSSN OAUSTECH</h6>
                    <p class="footer-text">
                        The Muslim Student Sociecty of Nigeria, Olusegun Agagu University of Science and Technology,Okitipupa, aim to foster unity, promote Islamic values, and empower students to excel both academically and spiritually.
                        At MSSN, we are dedicated to creating a vibrant and inclusive community where students can connect, learn, and grow together in faith and fellowship.
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Quick links</h6>
                    <div class="footer-text">
                        <p>
                            <a href="" class="text-white">About</a>
                        </p>
                        <p>
                            <a href="" class="text-white">News</a>
                        </p>
                        <p>
                            <a href="" class="text-white">E-Library</a>
                        </p>
                        <p>
                            <a href="" class="text-white">Donate</a>
                        </p>
                    </div>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <div class="footer-text">
                        <p>
                            <i class="fas fa-home mr-3"></i> MSSN OAUSTECH Secratariat, Temporary Mosque, OAUSTECH Main Campus
                        </p>
                        <p>
                            <a class="text-light" href="mailto:mssnoaustech@gmail.com"><i class="fas fa-envelope mr-3"></i> mssnoaustech@gmail.com</a>
                        </p>
                        <p>
                            <a class="text-light" href="tel:+2349134123192"><i class="fas fa-phone mr-3"></i> +234 913 412 3192</a>
                        </p>
                        <!--<p>
                            <i class="fas fa-print mr-3"></i> + 01 234 567 89
                        </p>-->
                    </div>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/profile.php?id=100074327832467"
                       class="p-1 btn btn-floating">
                        <img src="{{ url_for('static',filename='img/facebook.svg') }}"
                             width="30"
                             alt="">
                    </a>
                    <!-- Twitter -->
                    <a href="https://youtube.com/shorts/gjs4bwrEhn0?si=l6faoMbwuzKnWAxA"
                       class="p-1 btn btn-floating">
                        <img src="{{ url_for('static',filename='img/youtube.webp') }}"
                             width="30"
                             height="35"
                             alt="">
                    </a>
                    <!-- Google -->
                    <a href="https://wa.me/message/WWIFCGPNTPRCD1"
                       class="p-1 btn btn-floating">
                        <img src="{{ url_for('static',filename='img/whatsapp.webp') }}"
                             width="30"
                             alt="">
                    </a>
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/mssnoaustech?utm_source=qr&igsh=M2RneG92ZXN0ZzQ1"
                       class="p-1 btn btn-floating">
                        <img src="{{ url_for('static',filename='img/instagram.svg') }}"
                             width="30"
                             alt="">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MSSN OAUSTECH</a>
    </div>
</footer>
