{% extends "base.html" %}
{% block title %}
    MSSN OAUSTECH Homepage
{% endblock title %}
{% block content %}
    <main>
        <div class="background-container">          
        <section class="text-container">
            <div class="text-center  pt-5">
                <h1 class="display-4">MSSN OAUSTECH <br>Official Website</h1>
                <p>As salaam Alaykum Warahmatulah Wabarakatuh.</p>
                <div class="welcome-text">
                    <p>
                        You're welcome to the official website of the Muslim Students' Society of Nigeria at, OAUSTECH Branch. 
                     </p>
                     <p>Join us on this journey of learning and friendship. <br> Explore our events, resources, and opportunities to grow academically and spiritually.</p>
                     <p>Barakallahu fiikum</p>
                </div>
            </div>
        </section>
    </div>
    </main>
{% endblock content %}
