{% extends "base.html" %}
{% block title %}
    E-library
{% endblock title %}
{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static',filename='library_style.css') }}">
{% endblock style %}
{% block content %}
    <main>
        
        <h1 class="text-center display-4 my-4">MSSN OAUSTECH LIBRARY</h1>
        <div class="container">
            <div class="row accordion" id="accordion">
                <!--<div class="row">-->
                {% for category in document_category %}
                    <div class="col-xl-6">
                        <div class="col-lg-12">
                            <div class="card accordion-item product_list">
                                <div class="card-header accordion-header">
                                    <div class="btn btn-link accordion-button collapsed"
                                         data-bs-toggle="collapse"
                                         data-bs-target="#item-{{ category.id }}"
                                         aria-expanded="true">
                                        <div class="list_block">
                                            <div class="list_image">
                                                <img src="https://www.bootdey.com/image/320x320/FF69B4/000000"
                                                     class="image-fit-contain"
                                                     alt="img" />
                                            </div>
                                            <div class="list_text">
                                                <!-- <p class="subtitle">Up to 68% OFF</p> -->
                                                <h5 class="title text-capitalize">{{ category.name }}</h5>
                                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="item-{{ category.id }}"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#accordion">
                                    <div class="card-body accordion-body">
                                        <div class="row">
                                            {% for document in category.paginated_documents.items %}
                                               {# {% if document.category_id == category.id %}#}
                                                    <div class="col-sm-4 col-6">
                                                        <div class="list_block_item">
                                                            <a href="{{ url_for('main.download_document',document_id = document.id) }}">
                                                                <img src="https://www.bootdey.com/image/320x320/008B8B/000000"
                                                                     class="image-fit-contain"
                                                                     alt="img" />
                                                                <p class="category">{{ category.name }}</p>
                                                                <h6 class="title text-capitalize">{{ document.title }}</h6>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {#{% endif %}#}
                                            {% endfor %}
                                            {{pagination.links}}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- </div>-->
            </div>
        </div>
        
    </main>
{% endblock content %}
