body{
  font-family: "Roboto", sans-serif !important;
}
a{
  text-decoration: none !important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.nav-item, .dropdown-item{
  font-size: small;
}
.nav-link:hover, .dropdown-item:hover{
  color: rgb(41, 160, 41) !important;
}
.navbar-toggler{
  border: none !important;
}
.navbar-toggler:focus,.navbar-toggler:active{
  outline: none !important;
  box-shadow: none !important;
}
.active{
  color: rgb(41, 160, 41) !important;
}
.subscribe-bg{
  /* background-color: rgb(81, 197, 81); */
  background-color: rgb(5, 59, 5);
}
.subscribe-head{
  color: white;
  font-weight: 900;
}
.welcome-section {
  position: relative;
  /* background-color: #f6f6f6; */
  background-image: url("../img/mosque.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* transition: background .3s,border .3s,border-radius .3s,box-shadow .3s; */
}

.header-text{
  font-weight: 900 !important;
  /* color: rgb(6, 88, 6); */
  color: white;
}

.text-container {
  color: white;
  font-weight: bold;
  z-index: 5;
  /* background: rgba(94, 94, 94, 0.5); */
  background: rgba(0, 0, 0, 0.5);
  padding: 60px 0;
  /* background-color: #1a6645; */
}
.welcome-text{
  color: white;
  font-weight: 400;
}
.about-section{
  padding: 50px  17%;
  background-color: whitesmoke;
}
.events-section{
  padding: 20px 0;
}
/* .events-section{
  display: flex;
  justify-content: center;
  padding: 3% 5%;
  background-color: whitesmoke;
} */
.carousel-item>img{
  max-width: 100%;
  max-height: 100vh;
}
.carousel-indicators button {
  /* background-color: brown !important;  */
  border-radius: 50% !important; 
  width: 15px !important; 
  height: 15px!important; 
  margin: 0 10px !important; 
  cursor: pointer !important;
}

.carousel-indicators .active {
  background-color: #fff; /* Active indicator color */
  width: 14px; /* Width of active indicator */
  height: 14px; /* Height of active indicator */
}

.post .article-v2 {
  padding: 0 15px;
}

.post .article-v2 .entry-title {
  font-size: 16px;
  color: #666666;
  font-weight: 600;
}
.article-img {
  width: 100%; /* Cover the entire width of the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure image is displayed as a block element */
}

.entry-title{
  text-decoration: none !important;
}
.post .article-v2 .article-header {
  margin-bottom: 15px;
}

.post .article-v2 .article-content-main {
  -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 30px;
  position: relative;
  background: #fff;
  margin-top: -75px;
}

@media only screen and (max-width: 1024px) {
  .post .article-v2 .article-content-main {
    padding: 15px;
    margin-bottom: 30px;
  }
}

.post .article-v2 .article-content p:last-of-type {
  margin-bottom: 0;
}

.post .article-v2 .article-thumb {
  position: relative;
  left: 25px;
  margin-bottom: 0;
}

.post .article-v2 .article-footer {
  border-top: 1px solid #ebebeb;
  padding-top: 15px;
  margin-top: 20px;
}

.post .article-v2 .article-footer .more-link {
  color: #ffa800;
}

.post .article-v2 .article-footer .footer-meta a {
  color: #aaa;
  font-size: 15px;
  margin-right: 5px;
}

.post .article-v2 .article-footer .footer-meta a i {
  font-size: 16px;
  margin-left: 2px;
}

.exco-year-link{
  color: green;
  text-decoration: none;
}
footer{
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-text{
  font-size: 15px;
}


