{% extends "base.html" %}
{% block title %}
    About
{% endblock title %}
{% block meta %}
    <meta name="description"
          content="About MSSN OAUSTECH">
    <meta name="keywords"
          content="mssn,oaustech,mssnoaustech,mssn oaustech,islam,islamic,organization,campus,mssn branch, oaustech muslim,okitipupa,religious,muslim student,muslim students, olusegun agagu univerisity,mss, mss ondo,mss oaustech,osustect,mssn osustech,mss osustech,about,who we are">
{% endblock meta %}

{% block content %}
    <section id="about " class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center display-4 fw-bold text-success">ABOUT MSSN OAUSTECH</h2>
                    <hr>
                    
                    {% if about_page %}
                    {{ about_page.content | safe }}
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
