{% extends "base.html" %}
{% set active_page = "article" %}
{% block title %}
    Articles
{% endblock title %}
{% block meta %}
    <meta name="description"
          content="Explore insightful articles on Islam, campus life, and community events at OAUSTECH. Stay informed and engaged with our latest updates.">
    <meta name="keywords"
          content="mssn,oaustech,mssnoaustech,mssn oaustech,islam,islamic,organization,campus,mssn branch, oaustech muslim,okitipupa,religious,muslim student,muslim students, olusegun agagu univerisity,mss, mss ondo,mss oaustech,osustect,mssn osustech,mss osustech,OAUSTECH articles, campus news, Islamic articles, Muslim community, student life, educational resources">
{% endblock meta %}
{% block style %}
    <link rel="preload" 
          href="{{ url_for('static',filename='style/article_style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ url_for('static',filename='style/article_style.css') }}"></noscript>
{% endblock style %}
{% block content %}
    <div id="main-content" class="blog-page mt-5">
        <div class="container">
            <h1 class="ms-5">ARTICLES</h1>
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    {% for article in article_list %}
                        <div class="card single_post">
                            <div class="body">
                                <div class="img-post">
                                    {% if article.cover_photo %}
                                        <img class="d-block img-fluid"
                                             src="{{ url_for('main.uploaded_files',filename=article.cover_photo) }}"
                                             alt="{{ article.title }}"
                                             height=""
                                             width="">
                                    {% else %}
                                        <!--<img class="d-block img-fluid"
     src="https://www.bootdey.com/image/800x280/FFB6C1/000000"
     alt="First slide">-->
                                        <img class="d-block img-fluid"
                                             src="{{ url_for('static',filename='img/article_cover.webp') }}"
                                             alt="First slide"
                                             height=""
                                             width="">
                                    {% endif %}
                                </div>
                                <h3>
                                    <a href="{{ url_for('main.article_detail', id=article.id) }}">{{ article.title }}</a>
                                </h3>
                                <p>{{ article.body |strip_html_tags|truncate(200) }}</p>
                            </div>
                            <div class="footer">
                                <div class="actions">
                                    <a href="{{ url_for('main.article_detail',id=article.id) }}"
                                       class="btn btn-outline-secondary">Continue Reading</a>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                    <div class="mt-3 d-flex justify-content-center">{{ pagination.links }}</div>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="body search">
                            <form action="">
                                <div class="input-group m-b-0">
                                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></span>
                                    <input type="text"
                                           class="form-control"
                                           aria-describedby="basic-addon1"
                                           placeholder="Search..."
                                           name="q">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Categories Filter</h2>
                        </div>
                        <div class="body widget">
                            <ul class="list-unstyled  categories-clouds m-b-0">
                                <li>
                                    <a href="{{ url_for("main.article_list") }}" class="text-success">All</a>
                                </li>
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ url_for('main.article_list', category=category.id) }}"
                                           class="text-success">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block subscription %}
    {% include "main/subscription_form.html" %}
{% endblock subscription %}
