{% extends "base.html" %}
{% block title %}
    MSSN Executives
{% endblock title %}
{% block meta %}
    <meta name="description"
          content="Meet the dedicated leaders of MSSN OAUSTECH. Learn about our executive team members who work tirelessly to serve the Muslim student community and promote Islamic values on campus.">
    <meta name="keywords"
          content="MSSN OAUSTECH executives, student leadership, Muslim leaders, campus organization, leadership team, executive committee">
{% endblock meta %}
{% block content %}
    <div class="container my-5">
        <h2 class="mb-4">MSSN OAUSTECH Executives</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    {% for year in academic_year %}
                        <li class="list-group-item">
                            <a class="exco-year-link"
                               href="{{ url_for('main.executive_detail_list',year=year) }}">{{ year }} MSSN OAUSTECH Executives</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
